<div class="cuerpo">
  <form [formGroup]="form" (ngSubmit)="agregarCita()">
    <div class="form-contenido">
      <h1>Agenda tu cita!</h1>
      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" 
        formControlName="nombre" />
      </mat-form-field>
      <small class="advertencia" *ngIf="NombreNoValido">
        Ingrese mas de 4 letras
      </small>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput autocomplete="off" 
        formControlName="apellido"/>
      </mat-form-field>
      <small class="advertencia" *ngIf="ApellidoNoValido">
        Ingrese mas de 4 letras
      </small>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput 
        autocomplete="off" 
        formControlName="correo"

        />
      </mat-form-field>
      <small class="advertencia" *ngIf="CorreoNoValido">
        Ingrese un email valido
      </small>
    

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Celular</mat-label>
        <input matInput 
        autocomplete="off"
        formControlName="celular" 
      />
      </mat-form-field>
      <!-- <small class="advertencia" *ngIf="CelularNoValido">
        Ingrese solo numeros
      </small> -->

      <mat-form-field class="cajas-dia"  >
        <mat-label>Fecha</mat-label>
        <input matInput 
        autocomplete="off" 
        type="date" 
        formControlName="fecha"
        />
      </mat-form-field>

      <mat-form-field class="cajas-dia" appearance="fill">
        <mat-label>Hora</mat-label>
        <input matInput 
        autocomplete="off"  
        type="time" 
        formControlName="hora"
        />
      </mat-form-field>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="mensaje" formControlName="descripcion"></textarea>
      </mat-form-field>
      <p>En caso de que usted desee modificar su cita o cancelarla se necesitara una contraseña para verificar que es la persona quien realizo la cita que se desea modificar</p>
      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput 
        autocomplete="off"  
        type="password" 
        formControlName="password"
        />
      </mat-form-field>

      <button mat-raised-button class="cajas btn" type="submit" [disabled]="form.invalid">Enviar</button>

    </div>
  </form>
</div>


