#contenedor {
  /* background: #ff00cc; 
  background: -webkit-linear-gradient(to right, #9350fb, #fb92ce,#fbadde);  
  background: linear-gradient(to right, #ffffff, #fb92ce,#fbadde); 
  background-image: url(../../../assets/img/fondo-2.jpg); */
  background-size: cover;
  background-image: linear-gradient(120deg, rgb(253, 251, 251,0.1) 0%, rgb(235, 237, 238,0.1) 100%),
  url(../../../assets/img/fondo-2.jpg);
}

#educacion,
#competencias,
#complementaria,
#idiomas {
  width: auto;
  padding: 2%;
}

.caja {
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent rgb(231, 231, 231) transparent;
}

.caja-2 {
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: rgb(231, 231, 231) transparent transparent transparent;
}

.fondo {
  background-color: rgb(231, 231, 231);
}

/* ---------------Subtitulos---------------- */
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  margin: 2% 15px;
  font-weight: 900;
}


.linea-morada{
  background-color: #ffa1dc;
  height: 6px;
}

hr {
  width: 100%;
  height: 6px;
  background-color: rgb(255, 255, 255);
  margin-top: 2px;
  border: none;
}

p,li {
  font-family: 'Lato', sans-serif;
  margin: 2% 5%;
  font-size: 23px;
  font-weight: 600;
}

.idiomas p img {
  width: 25px;
}

.lugar {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family:'Montserrat', sans-serif ;
  margin: 1%;
}

@media (max-width:450px){
  form{
    padding: 3.5em 1em ;
  }
}

@media (max-width:768px) {

  h2 {
    font-size: 30px;
  }

  p,
  li {
    font-size: 15px;
    margin: 4px 20px;
  }

  .lugar {
    margin-top: 6%;
  }
}
